* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.banner {
  margin-top: 50px;
}

.banner .container {
  width: 960px;
  margin: 0 auto;
}

.banner__img {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 20px;
}

.banner__slogan {
  text-align: center;
  color: white;
  padding-top: 150px;
}

.banner__wrapper {
  margin: 0;
  margin-bottom: -46px;
  padding: 80px;
  padding-top: 30px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.banner__dropdown {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #fff;
}

.banner .dropbtn {
  background-color: #ffffff;
  color: #3e416d;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
}

.banner .dropdown-content {
  display: none;
  position: absolute;
  min-width: 102px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: 10px -20px;
  background-color: #ffffff;
  color: #3e416d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.banner .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.banner .dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 114px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: 10px -20px;
  background-color: #ffffff;
  color: #3e416d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.banner .dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.banner .dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 191px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: 10px -20px;
  background-color: #ffffff;
  color: #3e416d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.banner .dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.banner .dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: 10px -20px;
  background-color: #ffffff;
  color: #3e416d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.banner .dropdown-content4 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.banner .dropdown-content5 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: 10px -20px;
  background-color: #ffffff;
  color: #3e416d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.banner .dropdown-content5 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.banner .dropdown-content a:hover {
  background-color: #c4b5f1;
}

.banner .dropdown-content2 a:hover {
  background-color: #c4b5f1;
}

.banner .dropdown-content3 a:hover {
  background-color: #c4b5f1;
}

.banner .dropdown-content4 a:hover {
  background-color: #c4b5f1;
}

.banner .dropdown-content5 a:hover {
  background-color: #c4b5f1;
}

.banner .show {
  display: block;
}

.banner .dropdown-input {
  margin: 0;
  padding: 0;
  padding: 15px;
}

.banner .input-1 {
  border: none;
  outline: none;
  width: 55px;
}

.banner .submit-btn {
  background-color: #6950ab;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  margin-left: 445px;
  outline: none;
  cursor: pointer;
}

.banner .searchbtn {
  color: #6950ab;
  padding: 16px;
  margin-left: 25%;
  background-color: #ffffff;
  border: solid 1px #6950ab;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
}

@media (max-width: 425px) {
  .banner__img {
    width: 316px;
    height: 300px;
  }
  .banner__form {
    display: none;
    width: 40%;
  }
  .banner .container {
    max-width: 316px;
  }
  .banner__slogan {
    padding-top: 100px;
  }
}

@media (min-width: 769px) {
  .banner .searchbtn {
    display: none !important;
  }
}

.mobile {
  display: none;
}

.mobile__filter-wrapper {
  width: 100%;
  list-style-type: none;
}

@media (max-width: 425px) {
  .mobile .container {
    max-width: 316px;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.mobile__modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow-y: scroll;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.mobile__modal--content {
  position: absolute;
  top: 0px;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.mobile__modal--header {
  padding: 2px 27px;
  background-color: #ffffff;
  color: #94a4ba;
}

.mobile__close {
  color: #7a087a;
  float: right;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  right: 30px;
  top: 0;
}

.mobile__close:hover, .mobile__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.mobile__only-video {
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
}

.mobile__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 14px;
  margin-left: 15px;
}

.mobile__checkbox {
  display: none;
}

.mobile__slider--round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.mobile__slider--round::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.mobile__checkbox:checked + .mobile__slider--round {
  background-color: #533b86;
}

.mobile__checkbox:focus + .mobile__slider--round {
  box-shadow: 0 0 1px #533b86;
}

.mobile__checkbox:checked + .mobile__slider--round::before {
  transform: translateX(26px);
}

.mobile__modal--body {
  padding: 2px 17px;
}

.mobile__bussines--type {
  color: #94a4ba;
}

.mobile__type--svg {
  margin: 4px;
  padding: 0 6px 10px 4px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  background: #f8f9fc;
  outline-color: #723f77;
}

.mobile__types--name {
  color: #533b86;
}

.mobile__modal--footer {
  padding: 2px 27px;
  background-color: #5cb85c;
  color: white;
}

.mobile__rooms {
  padding-top: 10px;
  margin-left: 7px;
}

.mobile__room {
  padding: 8px 12px;
  font-size: 17px;
  color: #3e416d;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  margin: -3px;
  background-color: #ffffff;
  cursor: pointer;
  outline-color: #723f77;
}

.mobile__room:hover {
  background-color: #533b86;
  color: #ffffff;
}

.mobile .room--komnaty {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.mobile .room--5 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.mobile .room--7 {
  border-radius: 8px 8px 8px 8px;
  margin-top: 15px;
}

.mobile__dropdown {
  position: relative;
  border-bottom: solid 1px #f0efef;
  width: 100%;
  height: 50px;
  display: flex;
}

.mobile__dropdown .mobile-dropbtn {
  width: 100%;
  background-color: #fff;
  border: none;
  outline: none;
  text-align: left;
  color: #3e416d;
  font-size: 17px;
}

.mobile__dropdown .mobile-dropdown-content {
  width: 30%;
  background-color: #ffffff;
  box-shadow: 0 0 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 5;
  display: none;
  left: 0;
  top: 50px;
}

.mobile__dropdown .mobile-dropdown-content a {
  color: #3e416d;
  width: 100%;
  text-decoration: none;
  padding: 5px 20px;
}

.mobile__dropdown-input {
  border: none;
  outline: none;
  margin-left: 5px;
}

.mobile .submit-btn {
  background-color: #ffffff;
  border: solid 1px #3e416d;
  outline: none;
  padding: 10px 25px;
  color: #3e416d;
  border-radius: 5px;
  margin-left: 40px;
}

.mobile__buttons {
  position: fixed;
  bottom: 0;
}

.things {
  margin-bottom: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  border-bottom: 2px solid #dcdcdc;
}

@media (max-width: 425px) {
  .things .container {
    max-width: 316px;
  }
}

.things__theme {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: .27px;
  padding: 16px 0;
  margin: 0;
  color: #3e416d;
}

@media (max-width: 425px) {
  .things__theme {
    text-align: center;
  }
}

.things__list {
  background-color: #ffffff;
  color: #3e416d;
  text-align: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 425px) {
  .things__list {
    flex-direction: column;
    margin-left: 30px;
  }
  .things__item {
    margin-top: 95px;
  }
}

.things__subtitle {
  font-size: 20px;
  letter-spacing: .23px;
  text-align: center;
  display: inline-block;
  color: #3e416d;
}

.things__description {
  font-size: 16px;
  line-height: 1.5;
  padding: 9px 24px 0;
  color: #94a4ba;
  display: inline-block;
  margin: -12px;
  width: 278px;
  height: 100px;
}

.things__item {
  width: 250px;
  margin-right: 50px;
  padding-top: 120px;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.things__item:nth-child(3n) {
  margin-right: 0;
}

.things__item--pallentesque {
  background-image: url("../img/fake.jpeg");
}

.things__item--conseqtetur {
  background-image: url("../img/second.jpeg");
}

.things__item--fermentum {
  background-image: url("../img/third.jpeg");
}
